[submodule "libsndfile"]
	path = libsndfile
	url = https://github.com/libsndfile/libsndfile
[submodule "JUCE"]
	path = JUCE
	url = https://github.com/juce-framework/JUCE.git
[submodule "ithaca-core"]
	path = ithaca-core
	url = https://github.com/alchy/IthacaCore.git
[submodule "json"]
	path = json
	url = https://github.com/nlohmann/json.git
